{% extends 'base.html' %}
{% load static %}
{% load subtract %}
{%block title %}Reports{% endblock title %}
{% block other_styles %}
<style>
   hr.rounded {
   border-top: 3px dashed #bbb;
   border-radius: 5px;
   }
   .form-control{
   border:1px solid black;
   }
   .form-group{
   margin-bottom: 25px;
   }
   h5{
   margin-bottom: 15px;
   }
</style>
{% endblock other_styles %}
{% block body_content %}
<div class="main-content">
   <div class="wrapper">
      {% if result_set|length == 0 %}
               <h3 class="text-danger">No Orders found with Payment Status - {% if payment_status == "to_pay" %}TO PAY{% elif payment_status == "tbb" %}TO BE BILLED{% endif %}</h3>
      {% endif %}
      <div class="row"  id="matched-orders">
         <div class="table-wrapper-scroll-y my-custom-scrollbar">
            {% if payment_status == "to_pay" %}
            <h5 style="text-align:center">Orders with the status <b>TO PAY</b>:</h5>
            {% elif payment_status == "tbb" %}
            <h5 style="text-align:center">Orders with the status <b>TO BE BILLED</b>:</h5>
            {% elif payment_status == "paid" %}
            <h5 style="text-align:center">Orders with the status <b>PAID</b>:</h5>
            {% endif %}
            <div class="container mt-100">
               <div class="row">
                  <div class="col-md-12">
                     <div class="card">
                        <div class="card-header">
                           <table class="table table-bordered" id="ordersTable" >
                              <thead>
                                 <tr>
                                    <th scope="col">G.R.NO</th>
                                    <th scope="col">DATE</th>
                                    <th scope="col">CONSIGNOR</th>
                                    <th scope="col">CONSIGNEE</th>
                                    <th scope="col">FROM</th>
                                    <th scope="col">TO</th>
                                    {% if payment_status == "tbb" %}
                                    <th scope="col">TOTAL AMOUNT</th>
                                    <th scope="col">PAID AMOUNT</th>
                                    <th scope="col">BALANCE AMOUNT</th>
                                    {% else %}
                                    <th scope="col">AMOUNT</th>
                                    {% endif %}
                                 </tr>
                              </thead>
                              <tbody>
                                 {% for result in result_set %}
                                 <tr>
                                    <td>{{result.id}}</td>
                                    <td>{{result.created_dtm|date:"d.m.y"}}</td>
                                    <td>CONSIGNOR</td>
                                    <td>CONSIGNEE</td>
                                    <td>{{result.consignor_place}}</td>
                                    <td>{{result.consignee_place}}</td>
                                    {% if payment_status == "tbb" %}
                                    <td>{{result.total_charges}}</td>
                                    <td>{{result.paid_amount}}</td>
                                    <td>{{result.total_charges|do_subtract:result.paid_amount}}</td>
                                    {% else %}
                                    <td>{{result.total_charges}}</td>
                                    {% endif %}
                                 </tr>
                                 {% endfor %}
                              </tbody>
                           </table>
                           <h5 style="text-align:center">Grand Total: <b>{{total_amount}}</b></h5>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock body_content %}
{% block other_scripts %}
<script>
{% if result_set|length > 0 %}
    $('#matched-orders').show();
{% else %}
    $('#matched-orders').hide();
{% endif %}

$(document).ready(function() {
  $("#ordersTable").DataTable();
  $('.dataTables_length').addClass('bs-select');
});
</script>

{% endblock other_scripts %}